/.phpunit.cache

/node_modules
/package-lock.json
/public_html/build
/public_html/hot
/public_html/storage

/vendor
/composer.lock
.env
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/bootstrap/compiled.php
/app/storage/
/storage/*.key
/storage/pail
/.vagrant
.DS_Store
/nbproject